.homepage {
    height: 100%;
    width: 100%;

    .top-container {
        /* Background image */
        background-image: url(../../assets/tacoma-skyline.jpg);
        

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

  

}
